
<div class="weather-app">
  <div class="site-header">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
              <img src="assets/images/logo.png" alt="logo">
              <div class="logo-type">
                  <h1 class="site-title">Weather App</h1>
                  <small class="site-description">tagline goes here</small>
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Weather</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="#">Photos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                  </li>
              </ul>
            </div>
        </nav>
    </div>
  </div>
  <div class="banner">
      <div class="container">
        <app-search (eventPlaceUpadate)="onLocationUpdate($event)"></app-search>
      </div>
      <div class="forecast-table">
         <div class="container">
            <div class="forecast today">
                <div class="forecast-header">
                    <div class="day">{{Weatherdata.list[0].dt_txt| date:'MMMM d,EEEE,h:mm a'}}</div>
                </div>
                <div class="">
                  <div class="location">
                      <h3>{{Weatherdata.city.name}}</h3>
                  </div>
                    <div class="degree">
                        <div class="num">
                            {{Weatherdata.list[0].main.temp - 273 | number}}
                          <sup>o</sup>
                          C
                        </div>
                      <div class="forecast-icon">
                          <img src='http://openweathermap.org/img/w/{{Weatherdata.list[0].weather[0].icon}}.png' alt="weather-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="forecast-container" *ngIf="isWeatherData">
                <div class="forecast" *ngFor="let weath of Weatherdata.list">
                    <div class="forecast-header">
                    <div class="day">{{weath.dt_txt | date:'MMMM d,EEEE,h:mm a' }}</div>
                    </div>
                    <div class="forecast-content">

                        <div class="degree">
                            <div class="num">
                                {{weath.main.temp - 273 | number}}
                                <sup>o</sup>
                                C
                            </div>
                            <div class="forecast-icon">
                              <img src="http://openweathermap.org/img/w/{{weath.weather[0].icon}}.png" alt="weather-icon">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
  </div>
</div>
